# Gmail SMTP - Senha de app (não é a senha da conta)
GMAIL_PASSWORD=

# Email remetente
EMAIL_REMETENTE=mailer@pedrovs.dev

# Destinatários separados por vírgula
EMAIL_DESTINATARIOS=email1@example.com,email2@example.com

# Estratégia de investimento
# Opções: top-dividendos | patrimonios-estaveis | valorizacao | dividendos-consistentes
ESTRATEGIA_INVESTIMENTO=top-dividendos
